@use '../../theme.scss' as theme;
@use '../../styles/mixins.scss' as mixins;

$padding: 1rem;

.card {
    @include mixins.base;
    display: flex;
    flex-direction: column;
    border: theme.$border;
    border-radius: theme.$border-radius;
    transition: box-shadow theme.$transition, background-color theme.$transition;

    .toolbar {
        padding: $padding;
        padding-bottom: 0;
        @include theme.font-title;
    }

    &.toolbar-border .toolbar {
        border-bottom: theme.$border;
        padding-bottom: $padding;
    }

    &.elevated {
        border: none;
        @include mixins.elevation(2);
    }

    &.interactable {
        cursor: pointer;

        &:hover {
            &.elevated {
                @include mixins.elevation(6);
            }

            &:not(.elevated) {
                background-color: rgba(0, 0, 0, 0 + (theme.$color-change));
            }
        }

        &:active {
            background-color: rgba(0, 0, 0, 0 + (theme.$color-change * 2)) !important;

            &.elevated {
                @include mixins.elevation(6);
            }
        }
    }

    &.selected {
        border: solid 2px map-get($map: theme.$colors, $key: "brand");

        &.toolbar-border .toolbar {
            border-bottom: solid 2px map-get($map: theme.$colors, $key: "brand");
        }

        &.elevated {
            @include mixins.elevation(6);
        }
    }

    &.fluid {
        width: 100%;
    }

    .content {
        padding: $padding;

        * {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .actions {
        padding: $padding;
        padding-top: 0;
        display: flex;
        justify-content: flex-end;

        & > * {
            margin-left: 10px;
        }
    }
}